.c-card-service {
  //   border: 1px solid;
  padding: 1rem;
  overflow: hidden;
}

.c-card-service_image {
  svg {
    padding: 25%;
    opacity: .5;
  }
}

.c-card-service_heading {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
