.c-card-service {
  //   border: 1px solid;
  padding: 1rem;
  overflow: hidden;
}

.c-card-service_image-wrap {

  &.-max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $to-medium) {
      // max-width: 30%;
    }
    @media (min-width: $from-medium) {
      max-width: 75%;
    }
  }
}

.c-card-service_info {

  &.-max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $from-medium) {
      max-width: 50%;
    }
  }
}

.c-card-service_image {
  svg {
    padding: 25%;
    opacity: .5;
  }
}

.c-card-service_heading {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
