// .c-steps-header_menu-toggle {
//   @media (min-width: $from-medium) {
//     display: none;
//   }
// }
.c-steps-menu {
  position: relative;
  z-index: 10;
}
.c-steps-menu_inner {
  @media (max-width: $to-medium) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: transform $speed $easing, opacity $speed $easing;

    &.is-open {
      opacity: 1;
      pointer-events: auto;
      transform: none;
    }
  }
}

.c-steps-list-wrap {
  margin-left: -1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.c-steps-list {
  display: flex;
  @media (max-width: $to-medium) {
    flex-direction: column;
  }
}

.c-steps-list_item {
  margin-left: 1rem;
}
