.u-min-30vh\@to-medium {
  @media (max-width: $to-medium) {
    min-height: 30vh;
  }
}

.u-width-auto {
  width: auto;
}

.u-margin-left\@to-medium {
  @media (max-width: $to-medium) {
    margin-left: 1rem;
  }
}

// paddings

.u-padding {
  padding: 1rem;
}

.u-padding-top {
  padding-top: 1rem;
}

.u-padding-bottom {
  padding-bottom: 1rem;
}

// margins

.u-margin-top {
  margin-top: 1rem;
}

.u-margin-top-3 {
  margin-top: 3rem;
}

.u-margin-left {
  margin-left: 1rem;
}

.u-margin-left-1\/2 {
  margin-left: 0.5rem;
}

.u-margin-right-1\/2 {
  margin-right: 0.5rem;
}

.u-margin-bottom-1\/4 {
  margin-bottom: 0.25rem;
}

.u-margin-bottom-1\/2 {
  margin-bottom: 0.5rem;
}

.u-margin-bottom {
  margin-bottom: 1rem;
}

.u-margin-bottom-3\/2 {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-height-100 {
  height: 100%;
}

.u-rounded {
  border-radius: 9999px;
}

.u-objfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.u-theme-text {
  color: $theme-main;

  html.mode-dark & {
    color: $mode-dark-main;
  }

  html.orchid & {
    color: $orchid-main;
  }

  html.goldenrod & {
    color: $goldenrod-main;
  }

  html.coral & {
    color: $coral-main;
  }
}

.u-theme-bg {
  background-color: $theme-main;

  html.mode-dark & {
    background-color: $mode-dark-main;
  }

  html.orchid & {
    background-color: $orchid-main;
  }

  html.goldenrod & {
    background-color: $goldenrod-main;
  }

  html.coral & {
    background-color: $coral-main;
  }
}
