.o-background-wrap {
  position: relative;
  z-index: 0;

  &.-is-input {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 0.125em solid currentColor;
    transition: border-color $speed $easing;
    transition-delay: $speed * 1.5;

    &.-is-checkbox {
      height: 100%;
      border-radius: 0.25em;
    }
  }

  &.-is-dialog {
    border-radius: 0.5rem;
    overflow: hidden;
    font-weight: 900;
    color: white;

    @media (max-width: $to-medium) {
      padding: 1rem;
    }
    @media (min-width: $from-medium) {
      padding: 2rem;
    }
  }
  
  .c-form_item.has-error & {
    border-color: $red;
  }
}

.o-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  $theme-site-bg: $site-bg;
  background-color: $theme-site-bg;

  html.t1 & {
    $theme-site-bg: green;
    background-color: $theme-site-bg;
  }
  html.t2 & {
    $theme-site-bg: pink;
    background-color: $theme-site-bg;
  }

  &.-has-shadow {
    box-shadow: $shadow;
  }

  &.-has-shadow-v2 {
    box-shadow: 0 0.25em 0.75em -0.75em currentColor;
  }

  .c-form_item.has-error & {
    transform: none;
    transform-origin: top;
  }

  .-is-input & {
    background-color: $red;
    opacity: 0.075;
    pointer-events: none;
    z-index: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform $speed * 2 $easing;
  }

  .-is-checkbox & {
    opacity: 0.15;
  }

  .-is-dialog & {
    pointer-events: none;
  }

  .-is-error & {
    background-color: $red;
  }
}
